body {
  background-color: white;
  color: $dark;
}

.no-paragraph-margins {
  p {
    margin-bottom: 0;
  }
}

.half-line {
  width: 250px;
  height: 0;
  border-bottom: 2px solid #fff;
}

/* PRINT STYLES */

@media print {
  body, html {
    font-size: 90%;
  }
}