body {
  background-color: white;
  color: $dark;
}

.no-paragraph-margins {
  p {
    margin-bottom: 0;
  }
}

.half-line {
  width: 250px;
  height: 0;
  border-bottom: 2px solid #fff;
}
.contact-information{
  a {
    color: #000;
    text-decoration: none;
  }
}

.professional-item li {
  margin: 0px 0px 15px 0px;
}

/* PRINT STYLES */

@media print {
  body, html {
    font-size: 90%;
  }
}